@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://s3.amazonaws.com/files.enjin.com/821401/module_header/26639473/background/websiteowlbanner.png" />
    <h2 class="display-2">Arma Server Launcher</h2>
    <form method="post">
        <input type="submit" class="" value="Restart last" asp-page-handler="Restart" />
        <input type="submit" value="Main" asp-page-handler="Start" />
        <input type="submit" value="Campaign" asp-page-handler="StartCampaign" />
    </form>
</div>
