@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CNTO Luncher</h1>
    <form method="post">
        <input type="submit" value="Restart me" asp-page-handler="restart" />
        <input type="submit" value="Start me" asp-page-handler="start" />
    </form>
</div>
